:root {
  --primary: #6c4cf1;
  --secondary: #b9a6ff;
  --accent: #ff8fc7;
  --bg: #f6f3ff;
  --text: #29253d;
}
.bg-pink-white-pink {
  background: linear-gradient(to right, #fff5f4, #ffffff, #fff5f4);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[var(--bg)] text-[var(--text)];
}